projeto_nodered.json
[{"id":"91b0956b.908788","type":"tab","label":"Info Geral","disabled":false,"info":""},{"id":"a0f7994d.9d8c08","type":"mqtt in","z":"91b0956b.908788","name":"","topic":"medicamento","qos":"2","datatype":"auto","broker":"29e84c9.17b44b4","x":188,"y":151,"wires":[["8f94f3c0.c459d"]]},{"id":"27a4fae9.93c336","type":"comment","z":"91b0956b.908788","name":"Informações do Copo","info":"","x":121,"y":92,"wires":[]},{"id":"8f94f3c0.c459d","type":"ui_text","z":"91b0956b.908788","group":"2b5cf926.8f3d46","order":0,"width":0,"height":0,"name":"","label":"Copo:","format":"{{msg.payload}}","layout":"row-spread","x":403,"y":152,"wires":[]},{"id":"bf673d0.97a40c","type":"mqtt in","z":"91b0956b.908788","name":"","topic":"copo","qos":"2","datatype":"auto","broker":"29e84c9.17b44b4","x":172,"y":212,"wires":[["79795664.4f9f38"]]},{"id":"79795664.4f9f38","type":"ui_text","z":"91b0956b.908788","group":"2b5cf926.8f3d46","order":0,"width":0,"height":0,"name":"","label":"Copo:","format":"{{msg.payload}}","layout":"row-spread","x":407,"y":213,"wires":[]},{"id":"bc493d10.8f78c","type":"mqtt in","z":"91b0956b.908788","name":"","topic":"tempolimite","qos":"2","datatype":"auto","broker":"29e84c9.17b44b4","x":188,"y":356,"wires":[["1a11f3c7.5658bc"]]},{"id":"1a11f3c7.5658bc","type":"ui_text","z":"91b0956b.908788","group":"e16afb06.dc0058","order":0,"width":0,"height":0,"name":"","label":"Tempo limite para retirada do copo","format":"{{msg.payload}}","layout":"row-spread","x":493,"y":357,"wires":[]},{"id":"f63c87ef.606ca8","type":"comment","z":"91b0956b.908788","name":"Alarme","info":"","x":67,"y":318,"wires":[]},{"id":"29e84c9.17b44b4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b5cf926.8f3d46","type":"ui_group","z":"","name":"Informações do copo","tab":"6dd83c60.280844","order":1,"disp":true,"width":"6","collapse":false},{"id":"e16afb06.dc0058","type":"ui_group","z":"","name":"Alarme","tab":"6dd83c60.280844","order":2,"disp":true,"width":"6","collapse":false},{"id":"6dd83c60.280844","type":"ui_tab","z":"","name":"Geral","icon":"dashboard","order":1,"disabled":false,"hidden":false}]